/* login.css */

  
.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 150px 150px;
    background-image: url('images/login-bg.jpg');
    background-size: cover;
    background-position: center;
    color: #4c351d;
}

  
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}
  
label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}
  
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
  
input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
  
input[type="submit"]:hover {
    background-color: #23527c;
}  